html, body { width:100%; height:100%; overflow:hidden;} /* just to be sure these are full screen*/

canvas { 
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

#chatContainer {
    position: absolute;
    bottom: 0;
}

.signIn {
    
}

.signUp {

}