html, body { width:100%; height:100%; overflow:hidden;} /* just to be sure these are full screen*/

body {
    background-image: url(https://i.pinimg.com/564x/89/7e/13/897e13da8f8898f53b230f96be53fffe.jpg);
    background-repeat: repeat; 
    overflow:hidden;
    background-color:  #f5f5f5 ;
}

#canv {
    display:inline-block;
    overflow: visible;
    background-color: #f8f8ff;
}

#chatText {
    position: relative;
    display:inline-block;
    background-color: white;
}

#gameContainer {
    position: relative;
    white-space: nowrap;
}

#container canvas, #readyButton {
    position: absolute;
}

#chatForm {
    position: relative;
}

#wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#readyButton {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    padding: 0.4em 1.25em;
    border: none;
    margin: 1em 1em 0.3em 0;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    color:#000000;
    background-color: #FFD700; 
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
}

#readyButton:hover{
    border:0.1em solid #000000;
    color:#000000;
    background-color:  #FFFFFF;
}

#signIn {
    border: 1px solid #3261C3;
    border-radius: 5px;
    background: #3775DD;
    background: -moz-linear-gradient(top,#3775DD 0,#3455C1 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#3775DD),color-stop(100%,#3455C1));
    background: -webkit-linear-gradient(top,#3775DD 0,#3455C1 100%);
    background: -o-linear-gradient(top,#3775DD 0,#3455C1 100%);
    background: linear-gradient(to bottom,#3775DD 0,#3455C1 100%);
    -webkit-box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .7),inset 0 1px 2px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .7),inset 0 1px 2px 0 rgba(255, 255, 255, 0.5);
    height: 32px;
    color:white;
    box-sizing:none;
    font-size:1em;
    padding:20px;
    line-height:0;
    transition:all 0.3s;
}

#signIn:hover {
    box-shadow:0 -5px 10px #3455C1 inset;
    color:#96bcfc;
}

#signUp {
    border: 1px solid #3261C3;
    border-radius: 5px;
    background: #3775DD;
    background: -moz-linear-gradient(top,#3775DD 0,#3455C1 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#3775DD),color-stop(100%,#3455C1));
    background: -webkit-linear-gradient(top,#3775DD 0,#3455C1 100%);
    background: -o-linear-gradient(top,#3775DD 0,#3455C1 100%);
    background: linear-gradient(to bottom,#3775DD 0,#3455C1 100%);
    -webkit-box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .7),inset 0 1px 2px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .7),inset 0 1px 2px 0 rgba(255, 255, 255, 0.5);
    height: 32px;
    color:white;
    box-sizing:none;
    font-size:1em;
    padding:20px;
    line-height:0;
    transition:all 0.3s;
}
#signUp:hover {
    box-shadow:0 -5px 10px #3455C1 inset;
    color:#96bcfc;
}

input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#login {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
